<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <br>
      <img class='portrait' src='/images/hacker.jpg' alt='Pic 1' />
      <br><br>
      <p>{{details}}</p>
    </div>
    {{>footer}}
  </body>
</html>